.Connection{
    background-color: white;
    width: 70%;
    height: 300px;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
    border:2px  solid #eb6631;
    
}
input{
    transform: translateY(50%);
    border-radius: 12px;
    height: 30px;
    width: 60%;
    display: block;
    margin:30px;
    border: none;
    background-color: gainsboro;
    Box-shadow:
    0 6px 6px rgba(0,0,0,0.23);
}
::placeholder{
    padding-left: 10px;
}

.Connection .Button{
    background-color: orchid;
}
.Connection button{
    border-radius: 12px;
    height: 30px;
    width: 100px;
    border:none;
    background-color: #eb6631;
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 90px;
}

.Box{
    background-color: green;
    width: 200px;
    height: 200px;
    transform: translateX(-100%);
}