.Accounts{
    border-right:1px solid black; 
    width: 48%;
    float: left;
    padding-left: 20px;
    height: 70%;
    margin-top: 20px;
}
.AccountsNone{
    display: none
}
.Header{
    margin-left: 20px;
}
