.Item {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  opacity: 1;
}

.ItemIsUploading {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  opacity: 0.4;
}

.Icon {
  position: absolute;
}

.modal-icon {
  left: 0;
  top: 0;
}

.Image {
  border-radius: 50%;
  border-color: rebeccapurple;
}

.Modal {
  width: 700px;
  height: 600px;
  border: solid 1px red;
  border-radius: 18px;
  background-color: white;
  position: absolute;
  padding: 50px;
}
